{% extends 'base.html.twig' %}

{% block nav_title %}<i class="fas fa-house-user"></i>&nbsp;&nbsp;Home{% endblock %}

{% block body %}
    <div id="home-jumbotron" class="jumbotron">
        <div class="clearfix">
            <div class="float-left">
                <h2><i class="fas fa-house-user"></i>&nbsp;LTI 1.3 Demo</h2>
            </div>
            <div class="float-right">
                <h5>
                    <span class="badge badge-pill badge-dark">
                        <a class="text-white clickable" target="_blank" href="https://github.com/oat-sa/demo-lti1p3/releases/tag/{{ application_version }}">
                            v{{ application_version }}
                        </a>
                    </span>
                </h5>
            </div>
        </div>
        <hr/>
        <div class="alert alert-info" role="alert">
            <i class="fa fa-info-circle"></i>&nbsp;<strong><a href="https://github.com/oat-sa/demo-lti1p3#readme" target="_blank">Demo application</a></strong> acting as <strong><a href="http://www.imsglobal.org/spec/lti/v1p3" target="_blank">LTI 1.3</a> platform</strong> and / or <strong>tool</strong>.
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-header">
            <ul class="nav nav-tabs nav-fill card-header-tabs" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-platforms-tab" data-toggle="pill" href="#pills-platforms" role="tab" aria-controls="pills-home" aria-selected="true">
                        <i class="fas fa-cubes"></i>&nbsp;Platforms&nbsp;&nbsp;<span class="badge badge-pill badge-secondary">{{ configuration.platforms|length }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-registrations-tab" data-toggle="pill" href="#pills-registrations" role="tab" aria-controls="pills-home" aria-selected="false">
                        <i class="fas fa-share-alt"></i>&nbsp;Registrations&nbsp;&nbsp;<span class="badge badge-pill badge-secondary">{{ configuration.registrations|length }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tools-tab" data-toggle="pill" href="#pills-tools" role="tab" aria-controls="pills-home" aria-selected="false">
                        <i class="fas fa-cube"></i>&nbsp;Tools&nbsp;&nbsp;<span class="badge badge-pill badge-secondary">{{ configuration.tools|length }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-platforms" role="tabpanel" aria-labelledby="pills-platforms-tab">
                <div class="list-group list-group-flush">
                    {% for platformIdentifier, platform in configuration.platforms %}
                        <a class="list-group-item list-group-item-action clickable" data-toggle="modal" data-target="#configModal" data-config="{{ platform|json_encode(constant('JSON_PRETTY_PRINT') + constant('JSON_UNESCAPED_SLASHES')) }}">
                            <i class="fas fa-cubes"></i>&nbsp;{{ platformIdentifier }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="pills-registrations" role="tabpanel" aria-labelledby="pills-registrations-tab">
                <div class="list-group list-group-flush">
                    {% for regitstrationIdentifier, registration in configuration.registrations %}
                        <a class="list-group-item list-group-item-action clickable" data-toggle="modal" data-target="#configModal" data-config="{{ registration|json_encode(constant('JSON_PRETTY_PRINT') + constant('JSON_UNESCAPED_SLASHES')) }}">
                            <i class="fas fa-share-alt"></i>&nbsp;{{ regitstrationIdentifier }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="pills-tools" role="tabpanel" aria-labelledby="pills-tools-tab">
                <div class="list-group list-group-flush">
                    {% for toolIdentifier, tool in configuration.tools %}
                        <a class="list-group-item list-group-item-action clickable" data-toggle="modal" data-target="#configModal" data-config="{{ tool|json_encode(constant('JSON_PRETTY_PRINT') + constant('JSON_UNESCAPED_SLASHES')) }}">
                            <i class="fas fa-cube"></i>&nbsp;{{ toolIdentifier }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <small>See <code>config/packages/lti1p3.yaml</code></small>
        </div>
    </div>
    <div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="configModalLabel"><i class="fas fa-info-circle"></i>&nbsp;Configuration</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
                        <code id="configDetailsZone" class="language-json"></code>
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block scripts %}
    <script>
        $('#configModal').on("show.bs.modal", function (event) {
            $("#configDetailsZone").html($(event.relatedTarget).attr("data-config"));
            hljs.highlightBlock(document.getElementById("configDetailsZone"));
        });
    </script>
{% endblock %}