{% extends 'base.html.twig' %}

{% block nav_title %}<i class="fas fa-cube"></i>&nbsp;&nbsp;Tool - Call platform service{% endblock %}

{% block body %}
    <div class="accordion md-accordion" id="accordionForm" role="tablist" aria-multiselectable="true">
        <div class="card bg-light">
            <div class="card-header dropdown-toggle clickable {{ form.vars.submitted ? 'collapsed' : '' }}" role="tab" id="headingForm" data-toggle="collapse" data-parent="#accordionForm" href="#collapseForm"
                 aria-expanded="{{ form.vars.submitted ? 'false' : 'true' }}" aria-controls="collapseForm">
                <i class="fas fa-sign-in-alt"></i>&nbsp;Tool service client
            </div>
            <div id="collapseForm" class="collapse card-body  {{ form.vars.submitted ? '' : 'show' }}" role="tabpanel" aria-labelledby="headingForm" data-parent="#accordionForm">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-row">
                    <div class="col-md-4">
                        {{ form_row(form.registration) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.scope) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        {{ form_row(form.method) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.service_url) }}
                    </div>
                </div>
                {{ form_row(form.body) }}
            </div>
            <div class="card-footer">
                {{ form_widget(form.submit) }}
                <a href="{{ path('tool_service_client') }}" class="btn btn-secondary"><i class="fas fa-undo-alt"></i>&nbsp;Reset</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% if serviceData %}
    <br/>
    <div class="card bg-light">
        <div class="card-header">
            <i class="fas fa-sign-in-alt"></i>&nbsp;Platform service response
        </div>
        <div class="card-body">
            <pre>
                <code class="language-json">{{ serviceData|json_encode(constant('JSON_PRETTY_PRINT') + constant('JSON_UNESCAPED_SLASHES')) }}</code>
            </pre>
        </div>
    </div>
    {% endif %}
{% endblock body %}

{% block scripts %}
    <script>
        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}
