{% extends 'base.html.twig' %}

{% block nav_title %}<i class="fas fa-cube"></i>&nbsp;&nbsp;Tool - Call platform service{% endblock %}

{% block body %}
    <div class="accordion md-accordion" id="accordionForm" role="tablist" aria-multiselectable="true">
        <div class="card bg-light">
            <div class="card-header dropdown-toggle clickable {{ form.vars.submitted ? 'collapsed' : '' }}" role="tab" id="headingForm" data-toggle="collapse" data-parent="#accordionForm" href="#collapseForm"
                 aria-expanded="{{ form.vars.submitted ? 'false' : 'true' }}" aria-controls="collapseForm">
                <i class="fas fa-sign-in-alt"></i>&nbsp;Tool service client
            </div>
            <div id="collapseForm" class="collapse card-body  {{ form.vars.submitted ? '' : 'show' }}" role="tabpanel" aria-labelledby="headingForm" data-parent="#accordionForm">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-row">
                    <div class="col-md-4">
                        {{ form_row(form.registration) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.scope) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        {{ form_row(form.method) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.service_url) }}
                    </div>
                </div>
                {{ form_row(form.accept) }}
                {{ form_row(form.body) }}
            </div>
            <div class="card-footer">
                {{ form_widget(form.submit) }}
                <a href="{{ path('tool_service_client') }}" class="btn btn-secondary"><i class="fas fa-undo-alt"></i>&nbsp;Reset</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% if serviceData %}
        <br/>
        <div class="card bg-light">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill card-header-tabs" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-item-tab" data-toggle="pill" href="#pills-item" role="tab" aria-controls="pills-item" aria-selected="true">
                            <i class="fas fa-envelope-open"></i>&nbsp;Response body
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-message-tab" data-toggle="pill" href="#pills-message" role="tab" aria-controls="pills-message" aria-selected="false">
                            <i class="fas fa-info-circle"></i>&nbsp;Response details
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-item" role="tabpanel" aria-labelledby="pills-item-tab">
                        {% if serviceData.format == 'json' %}
                            <pre>
                                <code class="language-json">{{ serviceData.body|json_encode(constant('JSON_PRETTY_PRINT') + constant('JSON_UNESCAPED_SLASHES')) }}</code>
                            </pre>
                        {% elseif serviceData.format == 'xml' %}
                            <pre>
                                <code class="language-xml">{{ serviceData.body }}</code>
                            </pre>
                        {% else %}
                            <pre>
                                <code class="language-html">{{ serviceData.body }}</code>
                            </pre>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="pills-message" role="tabpanel" aria-labelledby="pills-message-tab">
                        <h6 class="card-title">
                            <i class="fas fa-info-circle"></i>&nbsp;Status code
                        </h6>
                        <hr/>
                        <dl class="list-unstyled">
                            <dt>Code</dt>
                            <dd>
                                {% if serviceData.code >= 200 and serviceData.code < 300 %}
                                    <span class="badge badge-pill badge-success">
                                        {{ serviceData.code}}
                                    </span>
                                {% elseif serviceData.code >= 500 %}
                                    <span class="badge badge-pill badge-error">
                                        {{ serviceData.code}}
                                    </span>
                                {% else %}
                                    <span class="badge badge-pill badge-warning">
                                        {{ serviceData.code}}
                                    </span>
                                {% endif %}
                            </dd>
                        </dl>
                        <h6 class="card-title">
                            <i class="fas fa-info-circle"></i>&nbsp;Headers
                        </h6>
                        <hr/>
                        <dl class="list-unstyled">
                            {% for headerName, headerValue in serviceData.headers %}
                                <dt>{{ headerName }}</dt>
                                <dd>{{ headerValue|join(" ") }}</dd>
                            {% else %}
                                <dt>n/a</dt>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <small>Platform service response</small>
            </div>
        </div>
    {% endif %}
{% endblock body %}

{% block scripts %}
    <script>
        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}
