{% extends 'base.html.twig' %}

{% block nav_title %}<i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Tool - Call LTI service{% endblock %}

{% block body %}
    <div class="accordion md-accordion" id="accordionForm" role="tablist" aria-multiselectable="true">
        <div class="card bg-light">
            <div class="card-header dropdown-toggle clickable {{ form.vars.submitted ? 'collapsed' : '' }}" role="tab" id="headingForm" data-toggle="collapse" data-parent="#accordionForm" href="#collapseForm"
                 aria-expanded="{{ form.vars.submitted ? 'false' : 'true' }}" aria-controls="collapseForm">
                <i class="fas fa-sign-in-alt"></i>&nbsp;LTI service client
            </div>
            <div id="collapseForm" class="collapse card-body  {{ form.vars.submitted ? '' : 'show' }}" role="tabpanel" aria-labelledby="headingForm" data-parent="#accordionForm">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-row">
                    <div class="col-md-4">
                        {{ form_row(form.registration) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.scope) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        {{ form_row(form.method) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.service_url) }}
                    </div>
                </div>
                {{ form_row(form.media) }}
                {{ form_row(form.body) }}
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="Basic example">
                    {{ form_widget(form.submit) }}
                    <a href="{{ path('tool_service_client') }}" class="btn btn-secondary"><i class="fas fa-undo-alt"></i>&nbsp;Reset</a>
                    {% if formSubmitted %}
                        <a class="btn btn-info text-white" data-toggle="modal" data-target="#formShareModal"><i class="fas fa-external-link-square-alt"></i>&nbsp;Share</a>
                    {% endif %}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% include 'launch/modal/generatorShareModal.html.twig' with {'url': formShareUrl} %}
    {% if serviceData %}
        <br/>
        <div class="card bg-light">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill card-header-tabs" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-item-tab" data-toggle="pill" href="#pills-item" role="tab" aria-controls="pills-item" aria-selected="true">
                            <i class="fas fa-envelope-open"></i>&nbsp;Response body
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-message-tab" data-toggle="pill" href="#pills-message" role="tab" aria-controls="pills-message" aria-selected="false">
                            <i class="fas fa-info-circle"></i>&nbsp;Response details
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-item" role="tabpanel" aria-labelledby="pills-item-tab">
                        {% if serviceData.body is not empty %}
                            {% if serviceData.format == 'json' %}
                                <div class="input-group mb-3">
                                    <input type="text" id="responseSearch" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <button id="responseSearchReset" class="btn-secondary btn"><i class="fas fa-undo-alt"></i>&nbsp;Reset</button>
                                    </div>
                                </div>
                                <pre>
                                <code id="responseZone" class="language-json">{{ serviceData.body|json_encode(constant('JSON_PRETTY_PRINT') + constant('JSON_UNESCAPED_SLASHES')) }}</code>
                            </pre>
                            {% elseif serviceData.format == 'xml' %}
                                <div class="input-group mb-3">
                                    <input type="text" id="responseSearch" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <button id="responseSearchReset" class="btn-secondary btn"><i class="fas fa-undo-alt"></i>&nbsp;Reset</button>
                                    </div>
                                </div>
                                <pre>
                                <code id="responseZone" class="language-xml">{{ serviceData.body }}</code>
                            </pre>
                            {% else %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#htmlResponseModal">
                                            <i class="fas fa-eye"></i>&nbsp;Preview
                                        </button>
                                    </div>
                                    <input type="text" id="responseSearch" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <button id="responseSearchReset" class="btn-secondary btn">
                                            <i class="fas fa-undo-alt"></i>&nbsp;Reset
                                        </button>
                                    </div>
                                </div>
                                <div class="modal fade" id="htmlResponseModal" tabindex="-1" role="dialog" aria-labelledby="htmlResponseModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-eye"></i>&nbsp;Response preview</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container">
                                                    {{ serviceData.body|scrap_app_dom|raw }}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <pre>
                                <code id="responseZone" class="language-html">{{ serviceData.body }}</code>
                            </pre>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-dark" role="alert">
                                <i class="fas fa-ban"></i>&nbsp;Empty response body
                            </div>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="pills-message" role="tabpanel" aria-labelledby="pills-message-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card bg-light">
                                    <div class="card-header">
                                        <i class="fas fa-info-circle"></i>&nbsp;Status code
                                    </div>
                                    <div class="card-body">
                                        <dl class="list-unstyled">
                                            <dt>Response status code</dt>
                                            <dd>
                                                {% if serviceData.code >= 200 and serviceData.code < 300 %}
                                                    <span class="badge badge-pill badge-success">
                                                    {{ serviceData.code}}
                                                </span>
                                                {% elseif serviceData.code >= 500 %}
                                                    <span class="badge badge-pill badge-danger">
                                                    {{ serviceData.code}}
                                                </span>
                                                {% else %}
                                                    <span class="badge badge-pill badge-warning">
                                                    {{ serviceData.code}}
                                                </span>
                                                {% endif %}
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <br/>
                                <div class="card bg-light">
                                    <div class="card-header">
                                        <i class="fas fa-stopwatch"></i>&nbsp;Duration
                                    </div>
                                    <div class="card-body">
                                        <dl class="list-unstyled">
                                            <dt>Call duration</dt>
                                            <dd> {{ serviceData.duration }} ms</dd>
                                        </dl>
                                    </div>
                                </div>
                                <br/>
                                <div class="card bg-light">
                                    <div class="card-header">
                                        <i class="fas fa-microchip"></i>&nbsp;Memory
                                    </div>
                                    <div class="card-body">
                                        <dl class="list-unstyled">
                                            <dt>Call memory usage</dt>
                                            <dd> {{ serviceData.memory }} bytes</dd>
                                        </dl>
                                    </div>
                                </div>
                                <br/>
                            </div>
                            <div class="col-md-6">
                                <div class="card bg-light">
                                    <div class="card-header">
                                        <i class="fas fa-file-code"></i>&nbsp;Headers
                                    </div>
                                    <div class="card-body">
                                        <dl class="list-unstyled">
                                            {% for headerName, headerValue in serviceData.headers %}
                                                <dt>{{ headerName }}</dt>
                                                <dd>{{ headerValue|join(" ") }}</dd>
                                            {% else %}
                                                <dt>n/a</dt>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <small>LTI service response</small>
            </div>
        </div>
    {% endif %}
{% endblock body %}

{% block scripts %}
    <script>
        $("#responseSearch").on("input", function(){
            $("#responseZone").unmark({
                done: function() {
                    $("#responseZone").mark($("#responseSearch").val());
                }
            });
        });

        $("#responseSearchReset").click(function(){
            $("#responseSearch").val("");
            $("#responseZone").unmark();
        });

        hljs.initHighlightingOnLoad();

        $('#lti_service_client_scope').autoComplete({
            minLength: 0,
            preventEnter: true,
            resolverSettings: {
                url: '{{ path('tool_ajax_service_client_autocomplete', {'type': 'scope'}) }}',
                requestThrottling: 100
            }
        });
        $('#lti_service_client_media').autoComplete({
            minLength: 0,
            preventEnter: true,
            resolverSettings: {
                url: '{{ path('tool_ajax_service_client_autocomplete', {'type': 'media'}) }}',
                requestThrottling: 100
            }
        });

        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}
