{% extends 'base.html.twig' %}

{% block nav_title %}Tool - LTI Service Client Request Builder{% endblock %}

{% block body %}
    <div class="card bg-light">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <span class="mr-auto"><i class="fas fa-cogs"></i>&nbsp;LTI service client request builder</span>
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary" href="{{ path('tool_service_client') }}">Reset</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
    {% if accessTokenData %}
    <br/>
    <div class="card bg-light">
        <div class="card-header">
            Access Token
        </div>
        <div class="card-body">
            {% if accessTokenOk %}
                <div class="alert alert-success" role="alert">
                    <i class="fas fa-check"></i>&nbsp;
                    Access token fetched with success
                </div>
                <dl class="list-unstyled">
                    <dt>Url</dt>
                    <dd>
                        {% if accessTokenUrl %}
                            <a target="_blank" href="{{ accessTokenUrl }}">{{ accessTokenUrl }}</a>
                        {% else %}
                            n/a
                        {% endif %}
                    </dd>
                    <dt>Type</dt>
                    <dd>{{ accessTokenData.token_type }}</dd>
                    <dt>Expires In</dt>
                    <dd>{{ accessTokenData.expires_in }}</dd>
                    <dt>Token</dt>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <a target="_blank" class="btn btn-secondary" href="https://jwt.io?token={{ accessTokenData.access_token }}" role="button" title="See on jwt.io">
                                <i class="fas fa-external-link-alt"></i>
                            </a>
                        </div>
                        <input type="text" class="form-control" placeholder="token" value="{{ accessTokenData.access_token }}" readonly>
                    </div>
                </dl>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <i class="fas fa-exclamation-circle"></i>&nbsp;
                    Error on access token fetch
                </div>
            {% endif %}
        </div>
    </div>
    <br/>
    <div class="card bg-light">
        <div class="card-header">
            LTI Service Response
        </div>
        <div class="card-body">
            {% if serviceOk %}
                <div class="alert alert-success" role="alert">
                    <i class="fas fa-check"></i>&nbsp;
                    Lti service called with success
                </div>
                <dl class="list-unstyled">
                    <dt>Url</dt>
                    <dd>
                        {% if serviceUrl %}
                            <a target="_blank" href="{{ serviceUrl }}">{{ serviceUrl }}</a>
                        {% else %}
                            n/a
                        {% endif %}
                    </dd>
                    <dt>Response</dt>
                    <dd>
                        <pre>{{ serviceData|json_encode(constant('JSON_PRETTY_PRINT') + constant('JSON_UNESCAPED_SLASHES')) }}</pre>
                    </dd>
                </dl>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <i class="fas fa-exclamation-circle"></i>&nbsp;
                    Error on LTI service call
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock body %}