{% extends 'base.html.twig' %}

{% block nav_title %}<i class="fas fa-cubes"></i>&nbsp;&nbsp;Platform - Deep linking{% endblock %}

{% block body %}
    <div class="accordion md-accordion" id="accordionForm" role="tablist" aria-multiselectable="true">
        <div class="card bg-light">
            <div class="card-header dropdown-toggle clickable {{ form.vars.submitted ? 'collapsed' : '' }}" role="tab" id="headingForm" data-toggle="collapse" data-parent="#accordionForm" href="#collapseForm"
                 aria-expanded="{{ form.vars.submitted ? 'false' : 'true' }}" aria-controls="collapseForm">
                <i class="fas fa-cogs"></i>&nbsp;Deep linking generator
            </div>
            <div id="collapseForm" class="collapse card-body  {{ form.vars.submitted ? '' : 'show' }}" role="tabpanel" aria-labelledby="headingForm" data-parent="#accordionForm">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-row">
                    <div class="col-md-9">
                        {{ form_row(form.registration) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.user_type) }}
                    </div>
                </div>
                <div id="userList" class="form-row {{ form.user_type.vars.value != 'list' ? 'd-none' : '' }}">
                    <div class="col-md-12">
                        {{ form_row(form.user_list) }}
                    </div>
                </div>
                <div id="userCustom" class="form-row {{ form.user_type.vars.value != 'custom' ? 'd-none' : '' }}">
                    <div class="col-md-3">
                        {{ form_row(form.custom_user_id) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.custom_user_name) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.custom_user_email) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.custom_user_locale) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        {{ form_row(form.accept_types) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.accept_presentation_document_targets) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        {{ form_row(form.accept_media_types) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.accept_multiple) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.auto_create) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.deep_linking_url) }}<br/>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <a id="launchUrlLoad" class="btn btn-secondary text-white" role="button" title="Use and edit selected registration's tool default deep linking url">
                                <i id="launchUrlLoadLogo" class="fas fa-edit"></i>
                            </a>
                        </div>
                        {{ form_widget(form.deep_linking_url) }}
                    </div>
                    {{ form_help(form.deep_linking_url) }}
                    {{ form_errors(form.deep_linking_url) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.claims) }}<br/>
                    <div class="input-group">
                        <div class="input-group-prepend" role="group" aria-label="Manage claims">
                            <div class="btn-group-vertical" role="group">
                                <button id="claimsAdd" type="button" class="btn btn-primary btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Add claim">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="claimsAdd">
                                    {% for title, claim in editorClaims %}
                                        <a
                                                class="editorClaim dropdown-item"
                                                data-name="{{ claim.name }}"
                                                data-value="{{ claim.value|json_encode(constant('JSON_UNESCAPED_SLASHES')) }}"
                                        >
                                            {{ title }}
                                        </a>
                                    {% endfor %}
                                </div>
                                <button id="claimsFormat" type="button" class="btn btn-secondary btn-block" title="Format claims">
                                    <i class="fas fa-align-left"></i>
                                </button>
                            </div>
                        </div>
                        {{ form_widget(form.claims) }}
                    </div>
                    <div id="claimsError" class="invalid-feedback">
                        Invalid claims, please provide a valid JSON representation
                    </div>
                    {{ form_help(form.claims) }}
                    {{ form_errors(form.claims) }}
                </div>
            </div>
            <div class="card-footer">
                {{ form_widget(form.submit) }}
                <a href="{{ path('platform_message_launch_deep_linking') }}" class="btn btn-secondary"><i class="fas fa-undo-alt"></i>&nbsp;Reset</a>
                {% if formSubmitted %}
                    <a class="btn btn-secondary text-white" data-toggle="modal" data-target="#formShareModal"><i class="fas fa-external-link-square-alt"></i>&nbsp;Share</a>
                {% endif %}
            </div>
            {{ form_end(form) }}
        </div>
        {% include 'launch/modal/generatorShareModal.html.twig' with {'url': formShareUrl} %}
    </div>
    {% if deepLinkingLaunchRequest %}
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light">
                <div class="card-header">
                    <i class="fas fa-link"></i>&nbsp;Deep Linking launch
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <dl class="list-unstyled">
                                <dt>Issuer</dt>
                                <dd>{{ deepLinkingLaunchRequest.parameters.get('iss') }}</dd>
                                <dt>Login Hint</dt>
                                <dd><input type="text" class="form-control form-control-sm" placeholder="token" value="{{ deepLinkingLaunchRequest.parameters.get('login_hint') }}" readonly></dd>
                            </dl>
                        </div>
                        <div class="col-sm-4">
                            <dl class="list-unstyled">
                                <dt>Url</dt>
                                <dd>{{ deepLinkingLaunchRequest.url }}</dd>
                                <dt>Target Link Uri</dt>
                                <dd>{{ deepLinkingLaunchRequest.parameters.get('target_link_uri') }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-4">
                            <dl class="list-unstyled">
                                <dt>Client Id</dt>
                                <dd>{{ deepLinkingLaunchRequest.parameters.get('client_id') }}</dd>
                                <dt>Deployment Id</dt>
                                <dd>{{ deepLinkingLaunchRequest.parameters.get('lti_deployment_id') }}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <dl class="list-unstyled">
                                <dt>LTI Message Hint</dt>
                                <dd>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <a target="_blank" class="btn btn-secondary" href="https://jwt.io?token={{ deepLinkingLaunchRequest.parameters().get('lti_message_hint') }}" role="button" title="See on jwt.io">
                                                <i class="fas fa-external-link-alt"></i>
                                            </a>
                                        </div>
                                        <input type="text" class="form-control" placeholder="token" value="{{ deepLinkingLaunchRequest.parameters().get('lti_message_hint') }}" readonly>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            <div class="card-footer">
                {{ deepLinkingLaunchRequest.toHtmlLink('<i class="fas fa-link"></i>&nbsp;Launch deep linking', {'class': 'btn btn-primary', 'target': '_blank'})|raw }}
            </div>
        </div>
    </div>
    {% endif %}
    <script>
        function checkClaims() {
            try {
                if ($("#deep_linking_launch_claims").val() != '') {
                    $("#deep_linking_launch_claims").val(
                        JSON.stringify(JSON.parse($("#deep_linking_launch_claims").val()), undefined, 4)
                    );
                    $("#deep_linking_launch_claims").removeClass('is-invalid');
                    $("#lti_resource_link_launch_claims").addClass('is-valid');
                } else {
                    $("#deep_linking_launch_claims").removeClass('is-invalid');
                    $("#deep_linking_launch_claims").removeClass('is-valid');
                }
                $('#claimsError').hide();
            } catch(e) {
                $("#deep_linking_launch_claims").removeClass('is-valid');
                $("#deep_linking_launch_claims").addClass('is-invalid');
                $('#claimsError').show();
            }
        }

        $("#launchUrlLoad").click(function(){
            $.ajax({
                url: "{{ path('platform_ajax_default_registration_url') }}",
                method: "POST",
                data: {
                    registration: $("#deep_linking_launch_registration").find(":selected").text(),
                    type: "{{ constant('OAT\\Library\\Lti1p3Core\\Message\\LtiMessageInterface::LTI_MESSAGE_TYPE_DEEP_LINKING_REQUEST') }}",
                },
                dataType: "json",
                beforeSend: function(result){
                    $("#launchUrlLoadLogo").removeClass("fa-edit");
                    $("#launchUrlLoadLogo").addClass("fa-spinner fa-spin");
                },
                success: function(result){
                    $("#launchUrlLoadLogo").removeClass("fa-spinner fa-spin");
                    $("#launchUrlLoadLogo").addClass("fa-edit");
                    $("#deep_linking_launch_deep_linking_url").val(result.url);
                },
                error: function(result){
                    $("#launchUrlLoadLogo").removeClass("fa-spinner fa-spin");
                    $("#launchUrlLoadLogo").addClass("fa-edit");
                }
            });
        });

        $("#claimsFormat").click(function(event){
            checkClaims();
        });

        $(".editorClaim").click(function(event){
            try {
                var claims = JSON.parse($("#deep_linking_launch_claims").val() || "{}");
                claims[$(this).data('name')] = $(this).data('value');
                $("#deep_linking_launch_claims").val(JSON.stringify(claims, undefined, 4));
                $("#deep_linking_launch_claims").removeClass('is-invalid');
                $("#deep_linking_launch_claims").addClass('is-valid');
                $('#claimsError').hide();
            } catch(e) {
                $("#deep_linking_launch_claims").removeClass('is-valid');
                $("#deep_linking_launch_claims").addClass('is-invalid');
                $('#claimsError').show();
            }
        });

        $('form[name=deep_linking_launch]').submit(function (evt) {
            checkClaims();
            try {
                JSON.parse($("#deep_linking_launch_claims").val() || "{}");
                return;
            } catch(e) {
                evt.preventDefault();
            }
        });

        $('input[name="deep_linking_launch[user_type]"]').change(function (evt) {
            switch($(this).val()) {
                case 'list':
                    $('#userList').removeClass('d-none');
                    $('#userCustom').addClass('d-none');
                    break;
                case 'custom':
                    $('#userList').addClass('d-none');
                    $('#userCustom').removeClass('d-none');
                    break;
                default:
                    $('#userList').addClass('d-none');
                    $('#userCustom').addClass('d-none');
            }
        });
    </script>
{% endblock body %}