{% extends 'base.html.twig' %}

{% block nav_title %}<i class="fas fa-graduation-cap"></i>&nbsp;&nbsp;<span class="text-danger">Platform</span> - AGS line item edition{% endblock %}

{% block body %}
<div class="card bg-light">
    <div class="card-header">
        <i class="fas fa-graduation-cap"></i>&nbsp;Edit line item <code>{{ lineItem.identifier }}</code>
    </div>
    <div id="collapseForm" class="collapse card-body  {{ form.vars.submitted ? '' : 'show' }}" role="tabpanel" aria-labelledby="headingForm" data-parent="#accordionForm">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-row">
            <div class="col-md-4">
                {{ form_row(form.line_item_id) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.line_item_label) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.line_item_score_maximum) }}
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            {{ form_widget(form.submit) }}
            <a href="{{ path('platform_ags_view_line_item', {'lineItemIdentifier': lineItem.identifier|url_encode}) }}" class="btn btn-secondary"><i class="fas fa-undo-alt"></i>&nbsp;Cancel</a>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock body %}
