{% extends 'base.html.twig' %}

{% block nav_title %}<i class="fas fa-graduation-cap"></i>&nbsp;&nbsp;Platform - AGS line items details{% endblock %}

{% block body %}
<div class="card bg-light">
    <div class="card-header">
        <ul class="nav nav-tabs nav-fill card-header-tabs" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-details-tab" data-toggle="pill" href="#pills-details" role="tab" aria-controls="pills-details" aria-selected="true">
                    <i class="fas fa-info-circle"></i>&nbsp;Details
                </a>
            </li>
            <li class="nav-item">
                <a a class="nav-link" id="pills-scores-tab" data-toggle="pill" href="#pills-scores" role="tab" aria-controls="pills-scores" aria-selected="false">
                    <i class="fas fa-poll"></i>&nbsp;Scores
                </a>
            </li>
            <li class="nav-item">
                <a a class="nav-link" id="pills-result-tab" data-toggle="pill" href="#pills-result" role="tab" aria-controls="pills-result" aria-selected="false">
                    <i class="fas fa-poll-h"></i>&nbsp;Result
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="list-unstyled">
                            <dt>Identifier</dt>
                            <dd><code>{{ lineItem.identifier }}</code></dd>
                            <dt>Label</dt>
                            <dd>{{ lineItem.label }}</dd>
                            <dt>AGS service url</dt>
                            {% set agsUrl = absolute_app_url('platform_service_ags_get_line_item', {'lineItemIdentifier': lineItem.identifier, 'contextIdentifier': lineItem.contextIdentifier}) %}
                            <dd>
                                <a href="{{ agsUrl }}" target="_blank">{{ agsUrl }}</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="list-unstyled">
                            <dt>Context identifier</dt>
                            <dd>
                                <code>{{ lineItem.contextIdentifier }}</code>
                            </dd>
                            <dt>Score maximum</dt>
                            <dd>
                                <span class="badge badge-pill badge-primary">
                                    {{ lineItem.scoreMaximum }}
                                </span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-scores" role="tabpanel" aria-labelledby="pills-scores-tab">
                <div class="input-group mb-3">
                    <input type="text" id="agsScoreSearch" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button id="agsScoreSearchReset" class="btn-secondary btn"><i class="fas fa-undo-alt"></i>&nbsp;Reset</button>
                    </div>
                </div>
                <pre>
                    <code id="agsScoreZone" class="language-json">{}</code>
                </pre>
            </div>
            <div class="tab-pane fade" id="pills-result" role="tabpanel" aria-labelledby="pills-result-tab">
                todo
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary text-white" href="{{ path('platform_ags_edit_line_item', {'lineItemIdentifier': lineItem.identifier}) }}">
                <i class="fas fa-edit"></i>&nbsp;Edit
            </a>
            <a class="btn btn-danger text-white" href="{{ path('platform_ags_delete_line_item', {'lineItemIdentifier': lineItem.identifier}) }}" onclick="return confirm('Are you sure?')">
                <i class="fas fa-trash-alt"></i>&nbsp;Delete
            </a>
            <a class="btn btn-secondary text-white" href="{{ path('platform_ags_list_line_items') }}">
                <i class="fas fa-undo-alt"></i>&nbsp;Back to list
            </a>
       </div>
    </div>
</div>
{% endblock body %}

{% block scripts %}
    <script>
        $("#agsScoreSearch").on("input", function(){
            $("#agsScoreZone").unmark({
                done: function() {
                    $("#agsScoreZone").mark($("#agsScoreSearch").val());
                }
            });
        });

        $("#agsScoreSearchReset").click(function(){
            $("#agsScoreSearch").val("");
            $("#agsScoreZone").unmark();
        });

        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}