<h6 class="card-title">
    <i class="fas fa-link"></i>&nbsp;Deep Linking returned content items
</h6>
<hr/>
<div class="card-columns">
    {% for resourceIdentifier, resource in resources %}
        <div class="card clickable content-item">
            <div class="card-header">{{ resource.title }}</div>
            <div class="card-body">
                <ul>
                    <li><strong>Type</strong>: <code>{{ resource.type }}</code></li>
                    <li><strong>Url</strong>: {{ resource.url }}</li>
                    <li><strong>Description</strong>: {{ resource.text }}</li>
                    <li><strong>Icon</strong>: <img src="https://www.iconfinder.com/data/icons/basic-21/32/Basic-iconfinder-22-16.png"/></li>
                </ul>
            </div>
            <div class="card-footer">
                <small class="text-muted">Type: <code>{{ resource.type }}</code></small>
            </div>
        </div>
    {% endfor %}
</div>

