{% if token.payload.nrps %}
    <div class="alert alert-info" role="alert">
        <i class="fas fa-users"></i>&nbsp;
        NRPS claim provided in message
    </div>
    <dl class="list-unstyled">
        <dt>Claim Service Url</dt>
        <dd><a href="{{ token.payload.nrps.contextMembershipsUrl }}" target="_blank">{{ token.payload.nrps.contextMembershipsUrl }}</a></dd>
        <dt>Claim Service Versions</dt>
        <dd><code>{{ token.payload.nrps.serviceVersions|join(', ') }}</code></dd>
    </dl>
    <h6 class="card-title">
        <i class="fas fa-sign-in-alt"></i>&nbsp;NRPS Service
    </h6>
    <hr/>
    <div class="card bg-light">
        <div class="card-body">
            <div class="form-row">
                <div class="col col col-md-12">
                    <input type="text" id="nrpsUrl" class="form-control" placeholder="Service Url" value="{{ token.payload.nrps.contextMembershipsUrl }}" aria-describedby="nrpsUrlHelp" readonly>
                    <small id="nrpsUrlHelp" class="form-text text-muted">Service url</small>
                </div>
            </div>
            <br/>
            <div class="form-row">
                <div class="col col col-md-5">
                    <input type="text" id="nrpsRole" class="form-control" placeholder="Role filter" aria-describedby="nrpsRoleHelp">
                    <small id="nrpsRoleHelp" class="form-text text-muted">Role filter</small>
                </div>
                <div class="col col col-md-5">
                    <input type="text" id="nrpsLimit"class="form-control" placeholder="Limit" aria-describedby="nrpsLimitHelp">
                    <small id="nrpsLimitHelp" class="form-text text-muted">Limit to return</small>
                </div>
                <div class="col col col-md-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button id="nrpsLoad" class="btn-primary btn">
                            <i id="nrpsCall" class="fas fa-sign-in-alt"></i>&nbsp;Call
                        </button>
                        <button id="nrpsReset" class="btn-secondary btn">
                            <i class="fas fa-undo"></i>&nbsp;Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="nrpsZone"></div>
    <div class="modal fade" id="nrpsMemberModal" tabindex="-1" role="dialog" aria-labelledby="nrpsMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nrpsMemberModalLabel">Member Properties</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
                        <code id="nrpsMemberDetailsZone" class="language-json"></code>
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#nrpsLoad").click(function(){
            $.ajax({
                url: "{{ path('tool_ajax_service_nrps') }}",
                method: "POST",
                data: {
                    registration: "{{ token.registration.identifier }}",
                    url: $("#nrpsUrl").val(),
                    role: $("#nrpsRole").val(),
                    limit: $("#nrpsLimit").val()
                },
                beforeSend: function(result){
                    $("#nrpsCall").removeClass("fa-sign-in-alt");
                    $("#nrpsCall").addClass("fa-spinner fa-spin");
                },
                success: function(result){
                    $("#nrpsCall").removeClass("fa-spinner fa-spin");
                    $("#nrpsCall").addClass("fa-sign-in-alt");
                    $("#nrpsZone").html(result);
                },
                error: function(result){
                    $("#nrpsCall").removeClass("fa-spinner fa-spin");
                    $("#nrpsCall").addClass("fa-sign-in-alt");
                    $("#nrpsZone").html(
                        '<br/><div class="alert alert-danger" role="alert">' +
                        '<i class="fas fa-exclamation-circle"></i>&nbsp;' + result.responseJSON.message +
                        '</div>'
                    );
                }
            });
        });

        $("#nrpsReset").click(function(){
            $("#nrpsZone").html("");
            $("#nrpsUrl").val("{{ token.payload.nrps.contextMembershipsUrl }}");
            $("#nrpsRole").val("");
            $("#nrpsLimit").val("");
        });

        $('#nrpsMemberModal').on("show.bs.modal", function (event) {
            $("#nrpsMemberDetailsZone").html($(event.relatedTarget).attr("data-nrps"));
            hljs.highlightBlock(document.getElementById("nrpsMemberDetailsZone"));
        });
    </script>
{% else %}
    <div class="alert alert-dark" role="alert">
        <i class="fas fa-exclamation-circle"></i>&nbsp;No NRPS claim provided in message
    </div>
{% endif %}