<div class="card-deck">
    <div class="card bg-light">
        <div class="card-header">
            <i class="fas fa-cubes"></i>&nbsp;Platform
        </div>
        <div class="card-body">
            <dl class="list-unstyled">
                <dt>Identifier</dt>
                <dd><code>{{ token.registration.platform.identifier }}</code></dd>
                <dt>Name</dt>
                <dd>{{ token.registration.platform.name }}</dd>
                <dt>Audience</dt>
                <dd>{{ token.registration.platform.audience }}</dd>
                <dt>OAuth2 access token url</dt>
                <dd><a target="_blank" href="{{ token.registration.platform.oAuth2AccessTokenUrl }}">{{ token.registration.platform.oAuth2AccessTokenUrl }}</a></dd>
                <dt>OIDC authentication url</dt>
                <dd><a href="{{ token.registration.platform.oidcAuthenticationUrl }}">{{ token.registration.platform.oidcAuthenticationUrl }}</a></dd>
            </dl>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-header">
            <i class="fas fa-share-alt"></i>&nbsp;Registration
        </div>
        <div class="card-body">
            <dl class="list-unstyled">
                <dt>Identifier</dt>
                <dd><code>{{ token.registration.identifier }}</code></dd>
                <dt>OAuth2 client id</dt>
                <dd><code>{{ token.registration.clientId }}</code></dd>
                <dt>Platform JWKS url</dt>
                <dd>
                    {% if token.registration.platformJwksUrl %}
                        <a target="_blank" href="{{ token.registration.platformJwksUrl }}">{{ token.registration.platformJwksUrl }}</a>
                    {% else %}
                        n/a
                    {% endif %}
                </dd>
                <dt>Tool JWKS url</dt>
                <dd>
                    {% if token.registration.toolJwksUrl %}
                        <a target="_blank" href="{{ token.registration.toolJwksUrl }}">{{ token.registration.toolJwksUrl }}</a>
                    {% else %}
                        n/a
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-header">
            <i class="fas fa-cube"></i>&nbsp;Tool
        </div>
        <div class="card-body">
            <dl class="list-unstyled">
                <dt>Identifier</dt>
                <dd><code>{{ token.registration.tool.identifier }}</code></dd>
                <dt>Name</dt>
                <dd>{{ token.registration.tool.name }}</dd>
                <dt>Audience</dt>
                <dd>{{ token.registration.tool.audience }}</dd>
                <dt>OIDC initiation url</dt>
                <dd>
                    {% if token.registration.tool.oidcInitiationUrl %}
                        <a target="_blank" href="{{ token.registration.tool.oidcInitiationUrl }}">{{ token.registration.tool.oidcInitiationUrl }}</a>
                    {% else %}
                        n/a
                    {% endif %}
                </dd>
                <dt>Default launch url</dt>
                <dd><a target="_blank" href="{{ token.registration.tool.launchUrl }}">{{ token.registration.tool.launchUrl }}</a></dd>
                <dt>Deep linking url</dt>
                <dd>
                    {% if token.registration.tool.deepLinkingUrl %}
                        <a target="_blank" href="{{ token.registration.tool.deepLinkingUrl }}">{{ token.registration.tool.deepLinkingUrl }}</a>
                    {% else %}
                        n/a
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>
</div>

