<br/>
<div class="card bg-light">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <i class="fas fa-graduation-cap"></i>&nbsp;AGS line items container service response
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button class="btn btn-info text-white" data-toggle="modal" data-target="#agsResponseDetailsModal">
                <i class="fas fa-info-circle"></i>&nbsp;Details
            </button>
            {% if canWriteLineItem %}
                <button id="ags-container-line-item-create-btn" class="btn btn-primary text-white">
                    <i class="fas fa-plus-circle"></i>&nbsp;Create
                </button>
            {% endif %}
        </div>
    </div>
    <ul class="list-group list-group-flush">
        {% for lineItem in lineItemsContainer.lineItems.all %}
            <li
                    class="ags-container-line-item list-group-item list-group-item-action clickable"
                    data-registration="{{ registration.identifier }}"
                    data-line-item-identifier="{{ lineItem.identifier }}"
                    data-line-item-url="{{ path('tool_ajax_service_ags_view_lineitem', {'lineItemIdentifier': lineItem.identifier|base64_url_encode}) }}"
            >
                <i class="fas fa-square"></i>&nbsp;{{ lineItem.label }} <small>(<code>{{ lineItem.identifier }}</code>)</small>
            </li>
        {% else %}
            <a class="list-group-item list-group-item-dark">
                <i class="fas fa-ban"></i>&nbsp;No line items found
            </a>
        {% endfor %}
    </ul>
    <div class="card-footer text-muted">
        <small>AGS line items container service response: {{ lineItemsContainer.lineItems.all|length }} line items(s) found</small>
    </div>
</div>
<div class="modal fade" id="agsResponseDetailsModal" tabindex="-1" role="dialog" aria-labelledby="agsResponseDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agsResponseDetailsModalLabel">
                    <i class="fas fa-info-circle"></i>&nbsp;AGS line items container service response details
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <dl class="list-unstyled">
                    <dt>Relation Link</dt>
                    <dd>
                        {% if lineItemsContainer.relationLink %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <a class="btn btn-secondary" href="#" id="agsLinkUpdate" data-link="{{ lineItemsContainer.relationLinkUrl }}" title="Use url">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                                <input type="text" class="form-control" placeholder="token" value="{{ lineItemsContainer.relationLink }}" readonly>
                            </div>
                        {% else %}
                            <input type="text" class="form-control" placeholder="token" value="n/a" readonly>
                        {% endif %}
                        <small id="agsLinkUpdate_user_help" class="form-text text-muted">
                            Has next: <span class="badge badge-{{ lineItemsContainer.hasNext ? 'success' : 'secondary' }}">{{ lineItemsContainer.hasNext ? 'yes' : 'no' }}</span>
                        </small>
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#ags-container-line-item-create-btn").click(function (event) {
        $.ajax({
            url: "{{ path('tool_ajax_service_ags_prepare_create_lineitem') }}",
            method: "GET",
            data: {
                registration: "{{ registration.identifier }}",
                containerUrl: "{{ lineItemsContainerUrl }}",
                scopes: "{{ scopes }}"
            },
            dataType: "json",
            beforeSend: function(result){
                $("#agsModalLogo").removeClass("fa-square");
                $("#agsModalLogo").addClass("fa-spinner fa-spin");
                $("#agsModal").modal('show');
                $("#agsModalTitle").html("Processing");
                $("#agsModalFlashes").html("");
                $("#agsModalBody").html("processing ...");
                $("#agsModalActions").html("");
            },
            success: function(result){
                $("#agsModalLogo").removeClass("fa-spinner fa-spin");
                $("#agsModalLogo").addClass("fa-square");
                $("#agsModalTitle").html(result.title);
                $("#agsModalBody").html(result.body);
                $("#agsModalActions").html(result.actions);
            }
        });
    });

    $(".ags-container-line-item").click(function (event) {
        $.ajax({
            url: $(this).data("line-item-url"),
            method: "GET",
            data: {
                registration: $(this).data("registration"),
                scopes: "{{ scopes }}"
            },
            dataType: "json",
            beforeSend: function(result){
                $("#agsModalLogo").removeClass("fa-square");
                $("#agsModalLogo").addClass("fa-spinner fa-spin");
                $("#agsModal").modal('show');
                $("#agsModalTitle").html("Processing");
                $("#agsModalFlashes").html("");
                $("#agsModalBody").html("processing ...");
                $("#agsModalActions").html("");
            },
            success: function(result){
                $("#agsModalLogo").removeClass("fa-spinner fa-spin");
                $("#agsModalLogo").addClass("fa-square");
                $("#agsModalTitle").html(result.title);
                $("#agsModalFlashes").html(result.flashes);
                $("#agsModalBody").html(result.body);
                $("#agsModalActions").html(result.actions);
            }
        });
    });

    $("#agsLinkUpdate").click(function(){
        $("#agsUrl").val($("#agsLinkUpdate").data("link"));
        $('#agsResponseDetailsModal').modal('hide')
    });
</script>